/* my section */
#motSection {
  border: solid gold;
  padding: 0 50px 50px 0;
  display: flex;
  flex-flow: row wrap;
}

input[type=checkbox] {
  display: none;
}

label{
  background: #34495E;
  height: 50px;
  width: 50px;
  margin: 3px;
  border-radius: 100%;
  display: block;
  color: #fff;
  cursor: pointer;
  transition: all 0.7s ease;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

label:before{
  /* this positions the thing that changes when it's clicked */
  margin: -6px 0 10px 7px;
  position: absolute;
}

/* this changes the the background color once checked */
/* #label-1:checked ~ label[for=label-1],
#label-2:checked ~ label[for=label-2],
#label-3:checked ~ label[for=label-3],
#label-4:checked ~ label[for=label-4],
#label-5:checked ~ label[for=label-5],
#label-6:checked ~ label[for=label-6],
#label-7:checked ~ label[for=label-7],
#label-8:checked ~ label[for=label-8],
#label-9:checked ~ label[for=label-9],
#label-10:checked ~ label[for=label-10],
#label-11:checked ~ label[for=label-11]
{
  background: teal;
} */

/* this adds the star once checked */
#label-1:checked ~ label[for=label-1]:before,
#label-2:checked ~ label[for=label-2]:before,
#label-3:checked ~ label[for=label-3]:before,
#label-4:checked ~ label[for=label-4]:before,
#label-5:checked ~ label[for=label-5]:before,
#label-6:checked ~ label[for=label-6]:before,
#label-7:checked ~ label[for=label-7]:before,
#label-8:checked ~ label[for=label-8]:before,
#label-9:checked ~ label[for=label-9]:before,
#label-10:checked ~ label[for=label-10]:before,
#label-11:checked ~ label[for=label-11]:before {
  content: "\2606";
  font-size: 42px;
  font-weight: bold; 
  padding: 0;
  /* border: solid 2px pink; */
}