// $lightest-gray: #f2f2f2;
// $light-gray: #d9d9d9;
// $medium-gray: #8c8c8c;
// $dark-gray: #595959;
// $darkest-gray: #404040;

// $lightest-green: #f9fbe9;
// $light-green: #e2eb93;
// $medium-green: #CCDB38;
// $dark-green: #9eac20;
// $darkest-green: #636c14;

// $lightest-teal: #eafaf7;
// $light-teal: #96e8d9;
// $medium-teal: #56DAC2;
// $dark-teal: #29bca1;
// $darkest-teal: #1c7d6c;

// $lightest-coral: #fde7e7;
// $light-coral: #fab8b8;
// $medium-coral: #f8a0a0;
// $dark-coral: #F57D7C;
// $darkest-coral: #f47171;

// $color-1: #DFE8EA;
// $color-2: #D2E0DE;
// $color-3: #A2B9B5;
// $color-4: #799D9F;
// $color-5: #766F70;
// $color-6: #C9C6AE;

$color-1: #f9fbe9;
$color-2: #96e8d9;
$color-3: #fab8b8;
$color-3l: #fde7e7;
$color-3d: #f8a0a0;
$color-4: #56DAC2;
$color-5: #404040;
$color-6: #CCDB38;
$color-6l: #e2eb93;
